<!DOCTYPE html>
<html>
    <head><title>Vocabulary Expansion</title></head>
    <body>
        <h1>Vocabulary Expansion</h1>
        <form method="post" action="/poem">
        <p>Similarity Threshold<br><input type="text" name="rate"></p>
        <p>Input Word<br><input type="text" name="input_word"></p>
        <p>History_1<br><input type="text" name="history_1"></p>
        <p>History_2<br><input type="text" name="history_2"></p>
        <p>History_3<br><input type="text" name="history_3"></p>
        <input type="submit">
        </form>
    </body>
</html>
